.container22 {
    margin-top: 700px;
    padding-top: 200px;
    height: 600px;
    margin-bottom: 200px;
    text-align: center;
}
.texth1-service {
    color: white;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;

}