.car-informat {
    display: flex;
    margin-top: 25px;
    gap: 80px;
}
.car-p{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.p{
    margin-top: 90px;
    width: 719px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
