.car-informat {
    display: flex;
    margin-top: 25px;
    gap: 80px;
}
.car-p{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    p {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid #595959;

        span {
            width: 100px;
        }
    }
}
.p{
    margin-top: 90px;
    width: 719px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
