 .random-btn .random-next {
    width: 15px;
    height: 15px;
    background: #404040;
    border-radius: 64px;
    cursor: pointer;
    color: blue;
    &.active {
      background-color: #4177DC;
      height: 15px;
    }
  }

  .random-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 26px;
  }