@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.logo {
    display: flex;
    gap: 7px;
    align-items: center;
    /* border: 2px solid red; */
    img {
        width: 35px;
        height: 34px;
        /* border: 1px solid blue; */
    }
        /* border: 1px solid red; */
        h2 {
            font-size: 27px;
            font-weight: 500;
            font-family: "Exo", sans-serif;

        }
}