@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.logo {
    border: 1px solid red;
    display: flex;
    gap: 7px;
    align-items: center;
    img {
        width: 35px;
        height: 34px;
    }
    .auto {
        h2 {
            font-size: 27px;
            font-weight: 500;
            color: black;
            font-family: "Exo", sans-serif;

        }
    }
}