.foot-container {
    display: flex;
    padding-left: 120px;
    border: 1px solid red;   
    padding-top: 84px;
    padding-bottom: 150px;
}


.footLogo {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-bottom: 15px;
    img {
        width: 35px;
        height: 34px;
    }
    .auto {
        h2 {
            font-size: 27px;
            font-weight: 500;
            color: #F1F2F3;
            font-family: "Exo", sans-serif;
        }
    }
}

.foot-prgf {
    width: 318px;
}

