.main{
  display:flex;
  margin-top: 48px;
}
.images{
    width: 24px;
    height: 18px;  
   
  }


.inform{
 margin-top:160px;
display: flex;


 }

.company-details{
margin-left: 100px;
    
}

.car-infor{
  display: flex;
  gap: 30px;
}
.car-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.cars{
  display: flex;
  gap: 100px;
}

