.buttons {
    border: none;
    border-bottom: 4px solid #4177DC;
    padding: 0px 30px;
    display: flex;
    gap: 70px;
    margin-top: 57px !important;

    .active {
        button {
            padding: 5px 10px;
            border-radius: 8px 8px 0px 0px;
            color: white;
            background-color: #4177DC;
            transition: all 0.3s;
            border: none;
            background-color: #4177DC;
        }
    }

    button {
        padding: 5px 10px;
        border-radius: 8px 8px 0px 0px;
        transition: all 0.3s;
        border: none;
        background-color: transparent;
        color: white;
    }

    button:hover {
        padding: 5px 10px;
        border-radius: 8px 8px 0px 0px;
        color: white;
        background-color: #4177DC;
        transition: all 0.3s;
    }
}