.n-btn{
    color: #F1F2F3;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s;
}
.n-btn:hover {
    color: #006AFF;
}
.n-btn:active {
    color: #006AFF;
}