.btns {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: none;
    gap: 21px;
    button {
        border-radius: 50%;
        border: none;
        background: transparent;
    }
}


.left1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: all 0.5s;
}

.left1:hover {
    background-color: #306AD9;
    border: none;
}

.right1:hover {
    background-color: #306AD9;
    border: none;
}

.right1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: all 0.5s;
}

.btns1-review {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn1-rev {
    width: 234px;
    height: 42px;
    border-radius: 10px;
    background-color: #306AD9;
    border: none;
    margin-bottom: 30px;
    color: white;
    transition: all 0.5s;
}
.btn1-rev:hover {
    border: 1px solid #306AD9;
    background: none;
    color: white;
}