.btns {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: none;
    gap: 21px;
}

button {
    border-radius: 50%;
}

.left1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.left1:hover {
    border-radius: 50%;
    background-color: darkblue  ;
}

.right1:hover {
    border-radius: 50%;
    background-color: darkblue  ;
}

.right1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.btns1-review {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn1-rev {
    width: 234px;
    height: 42px;
    border-radius: 10px;
    background-color: #306AD9;
    border: none;
}