.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/png/img.png');
    background-size: cover;
}

a:hover {
    text-decoration: underline;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #111120;
    padding: 40px;
    border-radius: 20px;
}

.passwort {
   
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.back-arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.arrow-icon {
    width: 25px;
    margin-right: 450px;
}

.heading {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.subheading {
    text-align: center;
    color: white;
}

.input-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.text-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px; 
    border: 1px solid #e4e3e3;
    background: #292E39;
}

.continue-button {
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 615px;
    cursor: pointer;
}

.continue-button:hover {
    background-color: #0056b3;
}
