.people-light {
    display: flex;
    justify-content: flex-start; 
    gap: 21px;
    max-width: 100%;
    /* border: 1px solid red; */
    overflow-x: scroll;

}
.people-light::-webkit-scrollbar {
    width: 0;
}

.card-people {
    width: 386px;
    height: 310px;
    margin-top: 48px;
    padding: 25px;
    background-color: #1A1C7182;
    border-radius: 20px;
    
}